.Browse {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
  grid-template-rows: 1fr 3fr 1fr;
  background-image: url("../../media/dog_with_owners_new.png");
  background-size: cover;
  color: var(--dark-blue);
  width: 100%;
  height: 100%;
  position: absolute;
}

.Browse--title {
  grid-column: 3;
  grid-row: 1;
}

.Browse--nav {
  grid-column: 5;
  grid-row: 1;
  position: static;
}

.CardDisplay {
  grid-column: 3;
  grid-row: 2;
}
.Browse--Modal {
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right:-50%;
    transform: translate(-50%, -50%);
  }
