.App {
  /* background-color: var(--green);
  color: var(--dark-blue);
  height: 100%; */
}

.UserPage {
  display: grid;
  grid-template-rows: 2;
  background-color: var(--green);
  color: var(--dark-blue);
  height: 100%;
}

.Navigation {
  grid-column: auto;
  grid-row: 1;
}

.Human {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: 1;
}

/* .Doggos {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 1;
} */

.Image {
  grid-column: 1;
}


.Doggos {
  box-sizing: border-box;
  transition: 1s;
  overflow: hidden;
}
