.Card {
  background-color: rgb(184, 224, 210, 0.7);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 5px; /* 5px rounded corners */
  transition: 0.3s;
}

.Card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    border-radius: 5px; /* 5px rounded corners */
}

.Card--text {
  padding: 5px;
}

.Card--image {

}

.PawButtons {
  display: flex;
  justify-content: space-around;
}
