.PawButton {
  background: #fff2d8;
  background-image: linear-gradient(to bottom, #246A73, #DEF2C8);
  border-radius: 20px;
  text-shadow: 3px 2px 1px #9daef5;
  box-shadow: 6px 5px 24px #666666;
  font-family: 'Lobster', cursive;
  text-align: right;
  font-size: 15px;
  color: #007755;
  padding: 10px;
  width: 70px;
  margin: 10px;
  text-decoration: none;
  background-image:url("../../media/doglogo.png");
  background-size: 35px;
  background-repeat:no-repeat;
}
