/* css variables for colors used: */
:root{
  /* Background colors */
  --green: #B8E0D2;
  --light-green: #D6EADF;
  --white: #FCFAFA;
  --sky-blue: #95B8D1;
  --yellow-green: #DEF2C8;
  
  /* Text colors */
  --dark-blue: #246A73;
  --dark-green: #007755;
}

/* styled page according to BEM */
